@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
:root {
  --cor-primaria: #e8f1f2;
  --cor-secundaria: #c894f9;
  --cor-terciaria: #464659;
  --cor-quartenaria: #4b295d;

  --cor-destaque: #ff6600;
  --cor-wpp: #128b4d;

  --fonte-titulo: "Lato", sans-serif;
  --font-texto: "Poppins", sans-serif;
  --fonte-size-texto: clamp(1.5rem, -6rem + 5vw, 2rem);
  font-size: 62.5% !important; /*rem = 10px*/
}
@media (max-width: 1370px) { 
  #explicacao article .texto-container .texto{
    height: auto;
  }
}
@media (max-width: 1100px) { /* lembrar de ver dismensões até 1200, pode dar erro */
  :root{
    --fonte-size-texto: clamp(1.8rem, -5rem + 5vw, 2rem);
  
  }
  header{
    padding-inline: 1rem !important;
  }
  #explicacao .imagem-explicacao{
    width: 100%;
  }
  #explicacao article {
    flex-direction: column;
    padding-inline: 0px !important;
  }
  #explicacao article .texto-container{
    padding: 0px !important;
    
  }
  #explicacao article .texto-container .texto{
    width: 100%;
    padding: 2rem;
    border-radius: 0px;
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
  }
  #explicacao article .texto-container .fundo-texto{
    height:auto;
  }
  #contato{
    gap: 3rem !important;
    flex-direction: column;
    padding-inline: 1rem !important;
  }
  #contato article{
    width: 100% !important;

  }
  #contato .map{
    /* display: none; */
    width: 100%;
    overflow: hidden;
  }

}
@media (max-width: 767px) {
  nav .links{
    display: none;
  }
  /* menu responsivo */
  nav .btn-nav{
    display: block;
  }
  .dropdown-navlinks.open{
    height: auto;
    display: block;
  }
  #competencia article p{
    width: 100% !important;
  }
  #competencia article{
    background: rgb(151, 106, 188);
    background: linear-gradient(
      51deg,
      rgba(151, 106, 188, 1) 0%,
      rgba(75, 41, 93, 1) 100%
    ) !important;
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
  }
  #competencia {
    height: auto !important;
  }
  
}
/* --- svg --- */
.custom-shape-divider-bottom-1708726184 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px !important;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  height: 20rem;
}

.custom-shape-divider-bottom-1708726184 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 180px;
  filter: drop-shadow(0px 0.4rem 0.4rem rgb(0 0 0 / 0.3));
}

.custom-shape-divider-bottom-1708726184 .shape-fill {
  fill: var(--cor-primaria);
}
/* --- --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-texto) !important;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--cor-primaria) !important;
}
body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--cor-quartenaria);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--cor-secundaria);
  border-radius: 10px;
}
.container-fluid {
  position: relative;
  width: auto;
  padding: 0px !important;
}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: var(--cor-quartenaria);
  color: var(--cor-primaria);
  display: flex;
  justify-content: space-between;
  padding-block: 1.2rem;
  padding-inline: 2rem;
  font-size: 1.6rem;
}
.btn-nav{
  display: none;
}
/* MENU RESPONSIVO */
.dropdown-navlinks{
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: none;
  position: absolute;
  right: 2rem;
  top:60px;
  list-style: none;
  width: 30rem;
  height: 0px;
  background: rgba(75, 41, 93, .5);
  backdrop-filter: blur(15px);
  border-radius: 1rem;
  overflow: hidden;
}
.dropdown-navlinks li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-navlinks li a{
  text-decoration: none;
  color: var(--cor-primaria);
}
nav ul {
  display: flex;
  gap: 2.5rem;
}
nav ul a {
  text-decoration: none;
  color: #ffffff;
}
nav ul a:hover{
  text-decoration: none;
  color: #ffffff;
}
nav ul li {
  list-style: none;
}
header {
  z-index: 1;
  overflow: hidden;
  margin-top: 4rem;
  background: rgb(200, 148, 249);
  background: linear-gradient(
    0deg,
    rgba(200, 148, 249, 1) 0%,
    rgba(75, 41, 93, 1) 100%
  );
  background-image: url("./assets/criancas-brincando.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* height: 64rem; */
  height: 80rem;
  
  width: 100%;
  display: flex;
  padding-block: 6.4rem;
  padding-inline: 10rem;
  justify-content: space-between;
}
header .fundo{
  z-index: -1;
  position: absolute;
  background-color: rgb(0 0 0 / 0.5);
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}
.texto-inicio {
  margin-top: 3rem;
  width: 40%;
  font-size: clamp(-3rem, 2rem, 3rem);
  color: var(--cor-primaria);
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.texto-destaque {
  color: var(--cor-destaque);
  text-shadow: 0px 3px 3px rgb(0 0 0 / 0.3);
}
.texto-inicio h1 {
  margin-bottom: 2rem;
}
h1,
h2,
h3 {
  font-family: var(--fonte-titulo) !important;
  font-weight: 900 !important;
  text-shadow: 0px 3px 3px rgb(0 0 0 / 0.3);
  font-weight: 900;
}
.botão-agenda {
  width: 25rem;
  text-decoration: none;
  color: var(--cor-primaria);
  background-color: var(--cor-wpp);
  box-shadow: 0px 3px 5px rgb(0 0 0 / 0.5);

  padding: 1.5rem;
  margin-top: 2rem;
  border-radius: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.botão-agenda i {
  font-size: 2.5rem;
}
.botão-agenda:hover {
  background-color: #169755;
  color: var(--cor-primaria) !important;
}
#explicacao {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}
#explicacao h1 {
  text-align: center;
  color: var(--cor-quartenaria);
  font-size: 4rem;
}
#explicacao article {
  padding: 5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.imagem-explicacao {
  border-radius: 5rem;
  width: 45rem;
}
#explicacao article .texto-container {
  position: relative;
  padding: 3rem;
}
#explicacao .texto {
  align-self: center;
  background: rgb(151, 106, 188);
  background: linear-gradient(
    51deg,
    rgba(151, 106, 188, 1) 0%,
    rgba(75, 41, 93, 1) 100%
  );
  border-radius: 2rem;
  height: 60vh;
  font-size: var(--fonte-size-texto);
  line-height: 3.2rem;
  padding: 3.5rem;
  color: var(--cor-primaria);
}
#explicacao .texto-container .fundo-texto {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 70vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#explicacao .texto h4 {
  color: var(--cor-destaque);
  text-shadow: 0px 3px 3px rgb(0 0 0 / 0.3);
  font-size: 2.4rem;
  margin-block: 1rem;
}

#acompanhamento{
  padding-block: 5rem;
}
#acompanhamento article{
  padding-inline: 2rem;
  text-align: center;
  font-size: var(--fonte-size-texto);
}
#acompanhamento article h1{
  color: var(--cor-quartenaria);
  margin-bottom: 2rem;
}
#acompanhamento article strong{
  color: var(--cor-quartenaria);
}
#acompanhamento .topicos{
  max-height: 45rem;
  padding: 1.5rem;
}
#acompanhamento .topicos div{
  border: solid .5rem var(--cor-quartenaria);
  border-radius: 2rem;
  height: 100%;
  padding: 2rem;
  display: block;
  text-align: center;
  justify-content: center;
  
}
#acompanhamento .topicos h3{
  font-size: 2rem;
  margin-block: 2rem;
}
#acompanhamento .topicos p{
  font-size: var(--fonte-size-texto);
  margin-top: 1rem;
  font-weight: 600;
}
.icon{
  font-size: 4rem;
  margin-bottom: 1.6rem;
  color: var(--cor-quartenaria);
}


#competencia {
  margin-top: 5rem;
  height: 100vh;
  overflow: hidden;
  background-image: url("./assets/imagem-explicacao-03-copia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 5rem rgb(0 0 0 / 0.5);
}
#competencia article {
  padding: 3rem;
  background-image: url("./assets/fundo-competencia.svg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
#competencia article h2 {
  font-size: 3rem;
  color: var(--cor-destaque);
  margin-bottom: 2rem;
}
#competencia article p {
  line-height: 3.5rem;
  color: var(--cor-primaria);
  width: 35%;
  font-size: var(--fonte-size-texto);
}
#competencia article strong{
  color: var(--cor-destaque);
}
#competencia article ul li{
  color: var(--cor-primaria);
}
#competencia-2{
  margin-top: 4rem;
}
#competencia-2 > div{
  padding: 1.6rem;
  margin-block: 3rem;
}
#competencia-2 article{
  font-size: var(--fonte-size-texto);
  font-weight: 600;
}
#competencia-2 article ul{
  padding: 4rem;
}
#competencia-2 article h2, strong{
  color: var(--cor-quartenaria);
}
#competencia-2 .img-competencia img{
  width: 100%;
  border-radius: 2rem;
  border: solid 1rem var(--cor-quartenaria);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.55);
}
#contato{
  margin-top: 5rem;
  background: rgb(164,86,195);
  background: linear-gradient(0deg, rgba(164,86,195,1) 1%, rgba(78,41,93,1) 100%);
  width: 100%;
  padding: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
#contato article{
  border-radius: 50px;
background: linear-gradient(145deg, rgba(164,86,195,1), rgba(78,41,93,1));
box-shadow:  20px 20px 60px rgba(78,41,93,1),
             -20px -20px 60px rgba(164,86,195,1);
  color: var(--cor-primaria);
  padding: 2.5rem;
  width: 60rem;
  font-size: var(--fonte-size-texto);
  border-radius: 2rem;
}
#contato article h2{
  color: var(--cor-destaque);
  font-size: 2.5rem;
}
#contato article .texto-destaque{
  margin-block: 2rem;
}
#contato article a{
  display: flex;
  
  text-decoration: none;
  color: var(--cor-primaria);
}
#contato article a .texto-destaque{
  display: flex;
  gap: 1rem;
  font-size: var(--fonte-size-texto);
  align-items: center;
}
#contato article a:hover{
  text-decoration: none;
  color: var(--cor-primaria);
}

#contato .map iframe{
  border-radius: 2rem;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 0.5);
}
footer{
  background: rgb(131,69,157);
  background: linear-gradient(0deg, rgba(131,69,157,1) 0%, rgba(75,41,93,1) 100%);
  overflow: hidden;
  min-height: 35vh;
}
.footer-nav{
  font-size: 1.2rem;
  padding: 3rem;
}
.footer-nav >div{
  text-align: center;
  margin-block: 1rem;
}

.footer-nav a{
  color: var(--cor-secundaria);
  text-decoration: none;
}
.footer-nav a:hover{
  color: var(--cor-secundaria);
}