@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
:root {
  --cor-primaria: #e8f1f2;
  --cor-secundaria: #c894f9;
  --cor-terciaria: #464659;
  --cor-quartenaria: #4b295d;

  --cor-destaque: #ff6600;
  --cor-wpp: #128b4d;

  --fonte-titulo: "Lato", sans-serif;
  --font-texto: "Poppins", sans-serif;
  font-size: 62.5% !important; /*rem = 10px*/
}
@media (max-width: 1000px) {
    #explicacao article{
        flex-direction: column-reverse;

    }
}
/* --- svg --- */
.custom-shape-divider-bottom-1708726184 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px !important;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  height: 20rem;
}

.custom-shape-divider-bottom-1708726184 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 180px;
  filter: drop-shadow(0px 0.4rem 0.4rem rgb(0 0 0 / 0.3));
}

.custom-shape-divider-bottom-1708726184 .shape-fill {
  fill: var(--cor-primaria);
}
/* --- --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-texto) !important;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--cor-primaria) !important;
}
body::-webkit-scrollbar {
  width: 1.5rem;
  background-color: var(--cor-quartenaria);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--cor-secundaria);
  border-radius: 10px;
  opacity: 0.1;
}
.container-fluid {
  position: relative;
  width: auto;
  padding: 0px !important;
  
}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: var(--cor-quartenaria);
  color: var(--cor-primaria);
  display: flex;
  justify-content: space-between;
  padding-block: 1.2rem;
  padding-inline: 2rem;
  font-size: 1.6rem;
}
nav ul {
  display: flex;
  gap: 2.5rem;
}
nav ul a {
  text-decoration: none;
  color: #ffffff;
}
nav ul li {
  list-style: none;
}
header {
    overflow: hidden;
  margin-top: 4rem;
  background: rgb(200, 148, 249);
  background: linear-gradient(
    0deg,
    rgba(200, 148, 249, 1) 0%,
    rgba(75, 41, 93, 1) 100%
  );
  position: relative;
  height: 64rem;
  width: 100%;
  display: flex;
  padding-block: 6.4rem;
  padding-inline: 10rem;
  justify-content: space-between;
}
.texto-inicio {
  margin-top: 3rem;
  width: 40%;
  font-size: clamp(-3rem, 2rem, 3rem);
  color: var(--cor-primaria);
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.texto-inicio .texto-destaque {
  color: var(--cor-destaque);
  text-shadow: 0px 3px 3px rgb(0 0 0 / 0.3);
}
.texto-inicio h1 {
  margin-bottom: 2rem;
}
h1,
h2,
h3 {
  font-family: var(--fonte-titulo) !important;
  font-weight: 900 !important;
  text-shadow: 0px 3px 3px rgb(0 0 0 / 0.3);
  font-weight: 900;
}
.botão-agenda {
  width: 25rem;
  text-decoration: none;
  color: var(--cor-primaria);
  background-color: var(--cor-wpp);
  box-shadow: 0px 3px 5px rgb(0 0 0 / 0.5);

  padding: 1.5rem;
  margin-top: 2rem;
  border-radius: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.botão-agenda i {
  font-size: 2.5rem;
}
.botão-agenda:hover {
  background-color: #169755;
  color: var(--cor-primaria) !important;
}
#explicacao{
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    
}
#explicacao h1{
    text-align: center;
    color: var(--cor-quartenaria);
    font-size: 4rem;
}
#explicacao article{
    padding: 5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.imagem-explicacao{
    border-radius: 5rem;
    width: 48rem;

}
#explicacao article .texto-container{
    position: relative;
    padding: 3rem;

}
#explicacao .texto{
    background: rgb(151,106,188);
    background: linear-gradient(51deg, rgba(151,106,188,1) 0%, rgba(75,41,93,1) 100%);
    border-radius: 2rem;
    font-size: 2rem;
    padding: 5rem;
    color: var(--cor-primaria);
}
#explicacao .texto-container .fundo-texto{
    position: absolute;
    z-index: -2;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
}
#explicacao .texto h4{
    color: var(--cor-destaque);
    text-shadow: 0px 3px 3px rgb(0 0 0 / 0.3);
    font-size: 2rem;
}
