@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
:root {
  --cor-primaria: #e8f1f2;
  --cor-secundaria: #F1A0C5;
  --cor-terciaria: #ac1257;
  --cor-quartenaria: #94D2E4;

  
  --cor-destaque: #F1A0C5;
  --cor-wpp: #128b4d;

  --fonte-titulo: "Lato", sans-serif;
  --font-texto: "Poppins", sans-serif;
  --fonte-size-texto: clamp(1.5rem, -6rem + 5vw, 2.3rem);
  font-size: 62.5% !important; /*rem = 10px*/
}
/* RESPONSIVIDADE */
@media (min-width: 1330px) {
  #competencia article p {
    line-height: 3.5rem;
    width: 35% !important;
  }
}
@media (max-width: 1370px) {
  #explicacao article .texto-container .texto {
    height: auto;
  }
}
@media (max-width: 1100px) {
  /* lembrar de ver dismensões até 1200, pode dar erro */
  :root {
    --fonte-size-texto: clamp(1.8rem, -5rem + 5vw, 2rem);
  }
  header {
    padding-inline: 1rem !important;
  }
  #explicacao .imagem-explicacao {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #explicacao article {
    flex-direction: column;
    padding-inline: 0px !important;
  }
  #explicacao article .texto-container {
    padding: 0px !important;
  }
  #explicacao article .texto-container .texto {
    width: 100%;
    padding: 2rem;
    border-radius: 0px;
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  }
  #explicacao article .texto-container .fundo-texto {
    height: auto;
  }
  #competencia{
    background-image: url('./assets/Dr-Giovanna-dias-competencia-2.jpeg') !important;
  }
  #competencia article p {
    line-height: 2.5rem;
    width: 60% !important;
  }
  #contato {
    gap: 3rem !important;
    flex-direction: column;
    padding-inline: 1rem !important;
  }
  #contato article {
    width: 100% !important;
  }
  #contato .map {
    /* display: none; */
    width: 100%;
    overflow: hidden;
  }
}
@media (max-width: 790px) {
  header{
    background-image: url("./assets/Dr-Giovanna-dias-fundo-2.jpeg") !important;
  }
  header .imagem-principal img{
    margin-bottom: 4rem;
    height: 30rem !important;
    width: 100%;
    align-self: center;
  }
  nav .links {
    display: none;
  }
  /* menu responsivo */
  nav .btn-nav {
    display: block;
  }
  .dropdown-navlinks.open {
    animation: scale-up-tr 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    height: auto;
    display: block;
  }
  #competencia article {
    background: rgb(148,210,228);
    background: linear-gradient(51deg, rgba(148,210,228,1) 0%, rgba(37,144,175,1) 100%) !important;
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  }
  #competencia article p {
    line-height: 2.5rem;
    width: 100% !important;
  }
  #competencia {
    height: auto !important;
  }
}
@media (min-width:600px) and (max-width: 700px){
  header .imagem-principal{
    justify-content: center !important;
  }
  header .imagem-principal img{
    width: 78%;
    
  }
}
/* --- svg --- */
.custom-shape-divider-bottom-1708726184 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px !important;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  height: 20rem;
}

.custom-shape-divider-bottom-1708726184 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 180px;
  filter: drop-shadow(0px 0.4rem 0.4rem rgb(0 0 0 / 0.3));
}

.custom-shape-divider-bottom-1708726184 .shape-fill {
  fill: var(--cor-primaria);
}
/* --- --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-texto) !important;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--cor-primaria) !important;
}
body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--cor-quartenaria);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--cor-secundaria);
  border-radius: 10px;
}
.container-fluid {
  position: relative;
  width: auto;
  padding: 0px !important;
}
/* === NAVBAR === */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: var(--cor-destaque);
  color: var(--cor-primaria);
  display: flex;
  justify-content: space-between;
  padding-block: 1.2rem;
  padding-inline: 2rem;
  font-size: 1.6rem;
}
.btn-nav {
  display: none;
}
/* MENU RESPONSIVO */
.dropdown-navlinks {
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  list-style: none;
  width: 30rem;
  height: 0px;
  background: rgba(60, 127, 167, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 1rem;
  overflow: hidden;
}
.dropdown-navlinks li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-navlinks li a {
  text-decoration: none;
  color: var(--cor-primaria);
}
nav ul {
  display: flex;
  gap: 2.5rem;
}
nav ul a {
  text-decoration: none;
  color: #ffffff;
}
nav ul a:hover {
  text-decoration: none;
  color: #ffffff;
}
nav ul li {
  list-style: none;
}
/* === HEADER === */
header {
  z-index: 1;
  overflow: hidden;
  margin-top: 4rem;
  background: rgb(200, 148, 249);
  background: linear-gradient(
    0deg,
    rgba(200, 148, 249, 1) 0%,
    rgba(75, 41, 93, 1) 100%
  );
  background-image: url("./assets/Dr-Giovanna-dias-fundo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  /* height: 64rem; */
  height: 100rem;

  width: 100%;
  display: flex;
  padding-block: 6.4rem;
  padding-inline: 10rem;
  justify-content: space-between;
}
header .fundo {
  z-index: -1;
  position: absolute;
  background-color: rgb(0 0 0 / 0.5);
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}
.texto-inicio {
  animation: slide-left 0.5s linear both;
  padding: 1rem;
  margin-top: 3rem;
  width: 40%;
  font-size: clamp(-3rem, 2rem, 3rem);
  color: var(--cor-primaria);
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.texto-destaque {
  color: var(--cor-destaque);
  text-shadow: 0px 3px 3px rgb(0 0 0 / 0.3);
}
.texto-inicio h1 {
  margin-bottom: 2rem;
  letter-spacing: 0.4rem;
}
h1,
h2,
h3 {
  font-family: var(--fonte-titulo) !important;
  font-weight: 900 !important;
  text-shadow: 0px 3px 3px rgb(0 0 0 / 0.3);
  font-weight: 900;
}
.botão-agenda {
  animation: slide-in-bottom 1.2s;
  width: 25rem;
  text-decoration: none;
  color: var(--cor-primaria);
  background-color: var(--cor-wpp);
  box-shadow: 0px 3px 5px rgb(0 0 0 / 0.5);

  padding: 1.5rem;
  margin-top: 2rem;
  border-radius: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.botão-agenda i {
  font-size: 2.5rem;
}
.botão-agenda:hover {
  background-color: #169755;
  color: var(--cor-primaria) !important;
}

/* === EXPLICACAO === */

#explicacao {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}
#explicacao h1 {
  margin-top: 5rem;
  animation: slide-in-bottom 0.5s linear forwards;
  opacity: 0;
  animation-timeline: View(300px 100px);
  /* animation-range: ; */
  text-align: center;
  color: var(--cor-terciaria);
  font-size: 4rem;
}
#explicacao article {
  padding: 5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.imagem-explicacao {
  animation: fade-in-fwd 0.6s forwards;
  animation-timeline: View(700px 50px);
  opacity: 0;
  border-radius: 5rem;
  width: 30rem;
}
#explicacao article .texto-container {
  animation: slide-in-right 0.5s linear forwards;
  animation-timeline: View();
  animation-range: entry;
  opacity: 0;
  position: relative;
  padding: 5rem;
}
#explicacao .texto {
  align-self: center;
  background: rgb(209,40,117);
background: linear-gradient(51deg, rgba(209,40,117,1) 0%, rgba(230,119,170,1) 100%);
  border-radius: 2rem;
  height: 60vh;
  font-size: var(--fonte-size-texto);
  line-height: 3.2rem;
  padding: 3.5rem;
  color: var(--cor-primaria);
}
#explicacao .texto-container .fundo-texto {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#explicacao .texto h4 {
  color: var(--cor-quartenaria);
  text-shadow: 0px 3px 3px rgb(0 0 0 / 0.3);
  font-size: 2.4rem;
  margin-block: 1rem;
}

/* === ACOMPANHAMENTO === */

#acompanhamento {
  padding-block: 5rem;
}
#acompanhamento article {
  animation: slide-in-bottom 0.5s linear forwards;
  opacity: 0;
  animation-timeline: View(400px 100px);
  padding-inline: 2rem;
  text-align: center;
  font-size: var(--fonte-size-texto);
}
#acompanhamento article h1 {
  color: var(--cor-terciaria);
  margin-bottom: 2rem;
}
#acompanhamento article strong {
  color: var(--cor-terciaria);
}
#acompanhamento .topicos {
  animation: slide-left 0.5s linear forwards;
  opacity: 0;
  animation-timeline: View();
  animation-range: entry;
  max-height: 45rem;
  padding: 1.5rem;
}
#acompanhamento .topicos div {
  border: solid 0.5rem var(--cor-quartenaria);
  border-radius: 2rem;
  height: 100%;
  padding: 2rem;
  display: block;
  text-align: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
}
#acompanhamento .topicos h3 {
  font-size: 2rem;
  margin-block: 2rem;
}
#acompanhamento .topicos p {
  font-size: var(--fonte-size-texto);
  margin-top: 1rem;
  font-weight: 600;
}
.icon {
  font-size: 4rem;
  margin-bottom: 1.6rem;
  color: var(--cor-quartenaria);
}

#competencia {
  margin-top: 5rem;
  height: 120vh;
  overflow: hidden;
  background-image: url("./assets/Dr-Giovanna-dias-competencia.jpeg");
  /* background-size: cover; */
  background-position: right;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 5rem rgb(0 0 0 / 0.5);
}
#competencia article {
  padding: 3rem;
  background-image: url("./assets/fundo-competencia-atualizada.svg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
#competencia article h2 {
  font-size: 3rem;
  color: var(--cor-destaque);
  margin-bottom: 2rem;
}
#competencia article p {
  line-height: 2.5rem;
  color: var(--cor-primaria);
  width: 35%;
  font-size: var(--fonte-size-texto);
}
#competencia article strong {
  color: var(--cor-destaque);
}
#competencia article ul li {
  color: var(--cor-primaria);
  font-size: calc(var(--fonte-size-texto) - .3rem);
}
#competencia-2 {
  margin-top: 4rem;
}
#competencia-2 > div {
  padding: 1.6rem;
  margin-block: 3rem;
}
#competencia-2 article {
  font-size: var(--fonte-size-texto);
  font-weight: 600;
}
#competencia-2 article ul {
  padding: 4rem;
}
#competencia-2 article h2,
strong {
  color: var(--cor-terciaria);
}
#competencia-2 .img-competencia img {
  width: 100%;
  border-radius: 2rem;
  border: solid 1rem var(--cor-terciaria);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.55);
}
#contato {
  margin-top: 5rem;
  background: #F1A0C5;
  
  width: 100%;
  padding: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
#contato article {
  border-radius: 50px;
  background: rgb(209,40,117);
  background: linear-gradient(51deg, rgba(209,40,117,1) 0%, rgba(230,119,170,1) 100%);
  box-shadow:  20px 20px 60px #cd88a7,
             -20px -20px 60px #ffb8e3;
  color: var(--cor-primaria);
  padding: 2.5rem;
  width: 60rem;
  font-size: var(--fonte-size-texto);
  border-radius: 2rem;
}
#contato article h2 {
  color: var(--cor-quartenaria);
  font-size: 2.5rem;
}
#contato article .texto-destaque {
  margin-block: 2rem;
}
#contato article a {
  display: flex;

  text-decoration: none;
  color: var(--cor-primaria);
}
#contato .texto-destaque{
  color: var(--cor-quartenaria);
}
#contato article a .texto-destaque {
  display: flex;
  gap: 1rem;
  font-size: var(--fonte-size-texto);
  align-items: center;
}
#contato article a:hover {
  text-decoration: none;
  color: var(--cor-primaria);
}

#contato .map iframe {
  border-radius: 2rem;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 0.5);
}
footer {
  background: rgb(84,170,195);
background: linear-gradient(0deg, rgba(84,170,195,1) 0%, rgba(37,144,175,1) 100%);
  overflow: hidden;
  min-height: 35vh;
}
.footer-nav {
  font-size: 1.2rem;
  padding: 3rem;
}
.footer-nav > div {
  text-align: center;
  margin-block: 1rem;
}

.footer-nav a:not(.botão-agenda) {
  color: var(--cor-primaria);
  text-decoration: none;
}
.footer-nav a:hover {
  color: var(--cor-terciaria);
}

@keyframes scale-up-tr {
  0% {
    transform: scale(0.5);
    transform-origin: 100% 0;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 0;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-100px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
